appLabel: example
env: uat

serviceMesh:
  istio:
    enabled: true
    host: example.internal
    gateway: asm-gateway/gw1
    port:
      name: http

pathPrefix: "/app"

versionList:
  - v1
  - v2

weights:
  v1: 90
  v2: 10
