
## CONTEXT 
# =========
org: ""      # OPTIONAL (labels only) ex: sb | ptf | asean
env: undefinedEnv    # REQUIRED ex: live, pilot, uat, dev, test, ....
system: ""     # OPTIONAL (labels only)
version: undefinedVersion    # REQUIRED ex: main, v1, v2, hotfix, ...
labeling:
  prefix: "context.platform.io/"
# Nhãn để match selector
# app.kubernetes.io/app: appLabel
# app.kubernetes.io/instance: .workload.fullname
# các nhãn org, env, system có xuất hiện trong labels nhưng với mục đích khác, không tham gia vào match select, nếu rỗng thì không xuất hiện

## NAMING
# ========
appLabel: undefinedAppLabel   # REQUIRED - định danh workload
# .Release.Name # mặc định = env-appLabel-version, chạy qua jenkins pipeline sẽ ghép bằng org-env-system-appLabel-version, trong helper cần có cơ chế chống trùng
# .workload.fullname: ""   # bằng .Release.Name nếu không có fullOverride"

## LABELS VÀ ANNOTATION BỔ SUNG
# ==============================
# (tùy chọn) labels/annotations nếu có bổ sung áp chung cho mọi tài nguyên
commonLabels: {}
commonAnnotations: {}

## WORKLOAD MAIN
# ===============
workload:
  kind: Deployment                     # Deployment | StatefulSet
  replicas: 2
  revisionHistoryLimit: 5
  # Deployment strategy
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 0
  # StatefulSet updateStrategy
  statefulSetUpdateStrategy:
    type: RollingUpdate
    rollingUpdate:
      partition: 0
  terminationGracePeriodSeconds: 30
  # Labels/Annotations cho Pod (không ảnh hưởng selector)
  podLabels: {}
  podAnnotations: {}
    # proxy.istio.io/config: '{ "holdApplicationUntilProxyStarts": true }'
  # Phân bổ node pool 
  nodeSelector: {}
  tolerations: []
  affinity: {}
  topologySpreadConstraints: []   # ví dụ: phân bố theo zone/hostname
  podSecurityContext:
    runAsNonRoot: true
    fsGroup: 2000
  priorityClassName: ""
  dnsConfig: {}
  hostAliases: []
  automountServiceAccountToken: false   # khuyến nghị an toàn mặc định
  imagePullSecrets: []   # ví dụ: [{ name: nexus-repo-secret }]

  volumes:
    - name: tmp
      emptyDir: {}

  specs:
    image:
      repository: nexus-img.seabank.com.vn   # registry hoặc repo gốc
      name: ""            # "" -> mặc định = appLabel, điền -> overrite
      tag: 1.0.0 # tự sinh ra label version tương ứng với giá trị, ví dụ: version: 1.0.0 
      pullPolicy: IfNotPresent
    command: []
    args: []
    env: []
    envFrom: []
    ports:
      - name: http
        containerPort: 8081
        protocol: TCP
    resources:
      requests:
        cpu: "1"
        memory: 1Gi
      limits:
        cpu: "2"
        memory: 2Gi
    volumeMounts:
      - name: tmp
        mountPath: /tmp

    livenessProbe: {}     # "" -> chart không render probe
    readinessProbe: {}
    startupProbe: {}
    securityContext:
      allowPrivilegeEscalation: false
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
      capabilities:
        drop: ["ALL"]

  # Khai báo thêm container phụ
  initContainers: []
  sidecars: []

## SERVICE 
# =========
service:
  enabled: true
  type: ClusterIP
  annotations: {}
  name: ""               # "" -> mặc định = <workload fullname>
  ports:
    - name: http
      port: 8081
      targetPort: 8081
  headlessEnabled: true
  headlessName: ""       # "" -> mặc định = <workload fullname>-headless

## CONFIGMAP 
# Khi ConfigMap thay đổi template workload có annotation check sum để tự động rollout restart 
# ===========================================================================================
configMap:
  env:
    enabled: true           # true => tạo CM cho envFrom
    name: ""                # "" => <workload fullname>-env
    autoMount: true         # true => nếu user KHÔNG khai báo envFrom thủ công thì chart tự thêm envFrom CM này
    data: 
      key1: value1
      key2: value2               # dạng KV: key: value
  file:
    enabled: true
    data:
      app.js: |
        123
        456
      list.txt: |
        23123
        123123123

    mounts:
      - key: app.js
        mountPath: /opt/config/app.js     # ← BẮT BUỘC KHAI FULL PATH
        readOnly: true
      - key: list.txt
        mountPath: /etc/doc/list.txt      # ← BẮT BUỘC KHAI FULL PATH
        readOnly: false

# ================================================================================================== #
# NOTE: RIÊNG PHẦN SECRET SẼ KHÔNG ĐƯỢC ĐƯA VÀO HELM ĐỂ TẠO THEO MAINIFEST, VÌ THEO TIÊU CHUẨN ANNT  #
# USER CHỦ ĐỘNG TỰ TẠO THỦ CÔNG TRÊN RANCHER HOẶC KUBECTL                                            #     
# SAU ĐÓ KHAI BÁO MOUNT TRONG PHẦN SPECS CỦA WORKLOAD                                                # 
# TƯƠNG LAI SẼ QUY HOẠCH SANG SỬ DỤNG KEYSTORE NHƯ VAULT                                             #
# ================================================================================================== #

## SERVICE ACCOUNT
# =================
serviceAccount:
  create: false
  name: ""               # "" -> mặc định = <workload fullname>
  annotations: {}

## HPA
# ====
hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 75
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80
  behavior: {}
  # ví dụ:
  # behavior:
  #   scaleUp:
  #     stabilizationWindowSeconds: 30
  #     policies:
  #       - type: Percent
  #         value: 100
  #         periodSeconds: 60
  #   scaleDown:
  #     stabilizationWindowSeconds: 300
  #     policies:
  #       - type: Percent
  #         value: 100
  #         periodSeconds: 60


# POD DISRUPTOR BUDGET
# =====================
pdb:
  enabled: false
  minAvailable: 1

# PERSISTENCE VOLUME CLAIM
# ========================
pvc:
  enabled: false
  # Nếu dùng PVC sẵn có → điền claimName (ưu tiên dùng claimName khi có)
  claimName: ""
  # Nếu tạo PVC mới:
  storageClassName: "standard-rwo"
  accessModes:
    - ReadWriteOnce
  labels: {}
  persistentVolumeClaim:
    requests:
      storage: 5Gi

# SERVICE MESH
# ========================
serviceMesh:
  istio:
    enable: true
    virutalService:
    
    destinationRule:

  linkerd:
    enable: false
  traefik:
    enable: false